@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}

<h2>Resetowanie hasła</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger text-center">@TempData["ErrorMessage"]</div>
}

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label for="email">Adres e-mail</label>
        <input type="email" name="email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Wyślij link resetujący</button>
</form>