@{
    ViewData["Title"] = "Strona Główna";
}

@if (User.Identity?.IsAuthenticated ?? false)
{
    <p class="text-success text-center">Jesteś zalogowany jako: @User.Identity.Name</p>
}

<section class="hero text-center mt-4">
    <h1>Witamy w Punkcie Weterynaryjnym!</h1>
    <p>Zapewniamy profesjonalną opiekę zdrowotną dla Twoich pupili i zwierząt hodowlanych.</p>

    <div class="actions mt-4">
        @if (!(User.Identity?.IsAuthenticated ?? false))
        {
            <a class="btn btn-primary m-2" href="/Account/Login">Zaloguj się</a>
            <a class="btn btn-secondary m-2" href="/Account/Register">Zarejestruj się</a>
            <a class="btn btn-success m-2" href="/Shop/Index">Kup leki</a>
            <a class="btn btn-success m-2" href="/Shop/Cart">Koszyk</a>
            <a class="btn btn-info m-2" href="/Home/Kontakt">Kontakt</a>
        }
        else if (User.IsInRole("Pracownik"))
        {
            <!-- Pracownik -->
            <a class="btn btn-primary m-2" href="/Animals/Index">Ewidencja zwierząt</a>
            <a class="btn btn-info m-2" href="/MyVisits/Index">Ewidencja wizyt</a>
            <a class="btn btn-warning m-2" href="/Orders/Manage">Zarządzanie zamówieniami</a>
            <a class="btn btn-warning m-2" href="/Orders/Manage">Zarządzanie produktami</a>
        }
        else if (User.IsInRole("Właściciel"))
        {
            <a class="btn btn-primary m-2" href="/Animals/Index">Zarządzaj pracownikami</a>
            <a class="btn btn-info m-2" href="/MyVisits/Index">Wszystkie zamówienia</a>
            <a class="btn btn-warning m-2" href="/Orders/Manage">Wszystkie wizyty</a>
            <a class="btn btn-warning m-2" href="/Orders/Manage">Zarządzanie produktami</a>
            <a class="btn btn-warning m-2" href="/Orders/Manage">Statystyki</a>
        }
        else
        {
            <a class="btn btn-primary m-2" href="/Animals/MyPets">Moje zwierzęta</a>
            <a class="btn btn-success m-2" href="/Shop/Index">Kup leki</a>
            <a class="btn btn-success m-2" href="/Orders/MyOrders">Moje zamówienia</a>
            <a class="btn btn-success m-2" href="/Shop/Cart">Koszyk</a>
            <a class="btn btn-info m-2" href="/Home/Kontakt">Kontakt</a>
        }
    </div>
</section>