@{
    ViewData["Title"] = "Strona Główna";
}

<section class="hero">
    <h1>Witamy w Punkcie Weterynaryjnym!</h1>
    <p>Zapewniamy profesjonalną opiekę zdrowotną dla Twoich pupili i zwierząt hodowlanych.</p>
    <div class="actions">
        <a class="btn" href="/Account/Login">Zaloguj się</a>
        <a class="btn" href="/Account/Register">Zarejestruj się</a>
        <a class="btn" href="/Shop/Index">Kup leki</a>
        <a class="btn" href="/Home/Kontakt">Kontakt</a>
    </div>
</section>