@{
    ViewData["Title"] = "Polityka prywatności";
}

<h2>Polityka prywatności</h2>

<p>
    Twoje dane osobowe są dla nas bardzo ważne. Zbieramy i przetwarzamy dane wyłącznie w celu realizacji usług weterynaryjnych, sprzedaży leków oraz prowadzenia ewidencji leczenia zwierząt domowych i hodowlanych.
</p>

<p>
    Administratorem danych osobowych jest Punkt Weterynaryjny, z siedzibą przy ul. Zwierzęcej 5, 00-000 Weterynowo. Kontakt z administratorem możliwy jest poprzez adres e-mail: kontakt@punktweterynaryjny.pl.
</p>

<h4>Zakres danych</h4>
<p>
    Przetwarzamy następujące dane: imię i nazwisko, adres e-mail, adres zamieszkania (dla potrzeb dostawy), numer telefonu, dane zwierząt oraz historię wizyt i zamówień.
</p>

<h4>Cel przetwarzania</h4>
<p>
    Dane są wykorzystywane wyłącznie w celu:
</p>
<ul>
    <li>realizacji zamówień</li>
    <li>rejestracji i realizacji wizyt</li>
    <li>prowadzenia dokumentacji leczenia</li>
    <li>wysyłania powiadomień o statusie zamówienia lub wizyty</li>
</ul>

<h4>Twoje prawa</h4>
<p>
    Masz prawo do:
</p>
<ul>
    <li>dostępu do swoich danych</li>
    <li>ich poprawienia</li>
    <li>żądania ich usunięcia</li>
    <li>ograniczenia przetwarzania</li>
    <li>sprzeciwu wobec przetwarzania</li>
    <li>przenoszenia danych</li>
</ul>

<h4>Bezpieczeństwo</h4>
<p>
    Dane są przechowywane w bezpieczny sposób, chronione przed dostępem osób nieupoważnionych. Stosujemy środki techniczne i organizacyjne zgodne z przepisami RODO.
</p>

<p>
    W razie pytań lub wątpliwości – skontaktuj się z nami: <strong>kontakt@punktweterynaryjny.pl</strong>
</p>